#content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#game-box {
    width: 100%;
}

#game-row-1,
#game-row-2,
#game-row-3,
#game-row-4,
#game-row-5,
#game-row-6 {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
    font-size: 30px;
    text-align: center;
}

.guess-box {
    background-color: gray;
    width: 3%;
    height: 40px;
}

#input-box {
    margin-top: 20px;
}